p {
  text-align: center;
}

.numberButtons {
  width: 55px;
}

#display {
  text-align: right;
}

#memoryField {
  text-align: right;
}

#buttonClear {
  width: 500px;
}

#clearDiv {
  padding-top: 16px;
}

#clear {
  width: 220px;
}
